body {
	font-family: sans-serif;
	margin: 50px 5%;
	line-height: 1.2;
}
.explain {
	border-bottom: 1px dotted #333;
	padding-bottom: 2em;
}
.a:after {
	display:block;
	content: "all.css was loaded and is currently applied.";
	margin-top: 1em;
}
.b:after {
	display:block;
	content: "min-20em.css was loaded.";
	margin-top: 1em;
}

@media (min-width: 20em){
	.b:after {
		content: "min-20em.css was loaded and is currently applied.";
	}
}
.c:after {
	display:block;
	content: "min-37.5em.css was loaded.";
	margin-top: 1em;
}

@media (min-width: 37.5em){
	.c:after {
		content: "min-37.5em.css was loaded and is currently applied.";
	}
}
